<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/home/ankit/Desktop/project/flask/static/styles/tt.css">
    <title>TalkTrack</title>
    <div>
        <p class="heading">TalkTrack</p>
        <p class="subheading">A personal conversation organizer</p>
    </div>
</head>
<body>
    <div class="form">
        <form class="formclass" action="">
            Enter file path: <input type="text" class="field" name="input">
            <input type="button" value="Submit">
        </form>
    </div>


</body>
</html>
